:root {
    --teal: #007f7fff;
    --black: #000000ff;
    --gray: #2d2c2c;
    --white: #fefffeff;
    --yale-blue: #054a91ff;
    --cinnabar: #e74e35ff;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: black;
}

.color-white {
    color: var(--white);
}

.blog {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    align-items: center;

}

.hide {
    visibility: visible;
}

.remove {
    display: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;

}
/*
.row {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
}*/

.textcenter {
    color: white;
    text-align: center;
}