:root {
    --teal: #007f7fff;
    --black: #000000ff;
    --white: #fefffeff;
    --yale-blue: #054a91ff;
    --cinnabar: #e74e35ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: #ffffff;
}

a {
    text-decoration: none;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

#Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    width: 850px;

}

#home {
    position: relative;
    width: auto;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dodge {
    width: "1024";
    height: "600px";
    margin: 0 auto;

}

.dodge p {
    float: right;
    width: 45%;
    margin: 6px;
    font-size: 55px;
    color: #ffffff;

}

.dodge iframe {
    float: left;
    display: block;
    border-style: solid;
    border-color: #333;
    border-width: 3px;
    float: left;
    width: 50%;
    margin: 6px;
}

.fulllscreen {
    background-color: #ffffff;
}
.center{
    text-align: center;
}